$alternative: rgb(225, 225, 225);
html {
    overflow-x: hidden !important;
 
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
    //overflow-y: hidden;
    overscroll-behavior: contain;
    .sidenav-overlay {
        z-index:2 !important;
    }

    nav {
        .fas {
            font-size: 17px !important;
            color: white !important;
        }
        .brand-logo {
            margin-left: 10px;
            color: white !important;
        }
        .sidenav {
            z-index: 100;
        }
        .dropdown-trigger {
            display: none;
        }
    }

    .vue-app {
        /***************************************/
        /* Note list                           */
        /***************************************/
        .m3 {
            padding:0px;
        .filter-controls {
            margin:0px 15px 10px 0px;
            height:50px;
            text-align: center;
            font-weight: 900;
            line-height: 50px;
                select {
                    height:40px;
                    margin-top:5px;
                    width:85%;
                }
        }

        .note_list {
            margin: 5px 5px 0px;
            border: 1px solid transparent;
            border-bottom: 1px solid $alternative;
            background: rgb(245, 245, 245);
            .row {
                margin-top: 8px !important;
                margin:0px !important;
                position: relative;

                p.truncat {
                    height:40px;
                    margin:5px !important;
                    width:90%;
                    overflow: hidden;
                    * {
                        font-size:12px;
                        line-height: 12px;
                        margin:0px 1px;
                        display: inline;
                    }
                }
                h6 {
                    color: black;
                    text-transform: justify;
                    display: inline-block;
                    margin: 7px 0px;
                }
                .action-buttons {
                    padding: 10px 10px;
                    padding-right: 10px;
                    text-align: right;
                    i {
                        margin: 2px;
                        color: gray;
                    }
                }
                .date {
                    color: dimgray;
                    padding:5px;
                }
                .note-cat {
                    display: inline-block;
                    position: absolute;
                    left:-5px;
                    width: 10px;
                    height: 100%;
                    //border-radius: 45px;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
        /***************************************/
        /* Working bech                        */
        /***************************************/
        .col.m9 {
            min-height: 80vh;
        }
        .working-bench {
            margin: 0px;
           // height: 80vh;
            .controls {
                //margin: 0px auto;;
                padding: 5px 25px 5px 9px;
                margin-bottom:5px !important;
                background:white;
                z-index: 200;
                height: 50px;
                line-height: 30px;
                i {
                    font-size: 21px;
                    height: 40px;
                    width: 40px;
                    border-radius: 5%;
                    color: #3367d6;
                    padding: 2px;
                    background-color: transparent;
                    margin-left: 3px;
                    line-height: 30px;
                }
                .save {
                }
            }
            .note-header {
                margin-bottom: 0px !important;
                .input-field {
                    label {
                        margin-top: 6px;
                    }
                }
                .note-title {
                    font-size: 25px !important;
                    z-index: 50;
                    color: $secondary-color;
                    border-bottom: none !important;
                    &:focus {
                        border-bottom: none !important;
                        box-shadow: 0 !important;
                    }
                }
                .note-cats-wrapper {
                    padding: 0px 30px;
                    padding-top:2px;
                    .note-cats {
                        //margin-top:2px !important;
                        span {
                            height: 27px;
                            width: 27px;
                            padding: auto auto;
                            text-align: center;
                            padding: 0px;
                            border: 2px solid white;
                            border-radius: 66%;
                            &::before,
                            &::after {
                                display: none !important;
                            }
                        }
                        input[type="radio"]:checked+span {
                            border: 3px solid rgb(51, 51, 51);
                        }
                    }
                }
            }
            .new {
                padding: 50px;
                color: dimgray;
            }

            .add-note {
                position: fixed;
                bottom:27px;
                right:27px;
            }
            .create-new {
                height: 100%;
                
                
                /*textarea {
                    height: 100%;
                    resize: none;
                    line-height: 180% !important;
                    border: none;
                    font-size:120%;
                    padding:10px;
                    border-top: 2px solid $alternative;
                }*/
                #editor {
                    min-height:200px !important;
                    border: none !important;
                    height:auto;
                }
                select {
                    display: inline-block;
                }
            }
            ::placeholder {
                opacity: 0.5;
                /* Firefox */
            }
            i {
                color: $secondary-color;
                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                }
            }

            .more-email-options {
                padding:10px 25px;
                background: $alternative;
            }
            .show-info {
                padding: 10px 25px;
                background: $alternative;

            }
            .show-sharing {
                padding: 10px 25px;
                background: $alternative;
                input, select {
                    width:300px !important;
                    margin:2px 10px;
                }
                input::placeholder {
                    color:darkgray;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .dropdown-cat {
        li {
        label {
            font-size: 16px;
        color: #3367d6;
        display: block;
        line-height: 22px;
        padding:10px;
        }
    }
    }
    .controls {
        padding:10px !important;
    }
    .cat-span {
        width: 100%;
        height:5px;
        display:block;
        position: fixed;
        z-index: 10;
        top: 0;
    }
    nav {
        .dropdown-trigger {
            display: inline-block !important;
            padding:0px 20px;
        }
        .brand-logo {
            //transform: translateX(-100%) !important;
        }
    }
    .note-header {
        padding:0px 10px;

.note-cats-wrapper {
    text-align: center;
    .note-cats {
        span {
            height:20px !important;
            width: 20px !important;
        }
    }

}
    }

    .ql-toolbar {
        height: 37px;
        overflow: hidden;
        border:none;
    }
    .noteTitleLabel {
        display:none;
    }
}