body.main-page {
    font-family: 'Raleway', sans-serif;
    .top-block {
        height: 100vh;
        background: url('../img/bg2.png') no-repeat center center fixed;
        background-size: auto auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        #vue-login {
            .valign-wrapper {
                min-height: 100vh;
            }
        }
    }

    .features {
        .row {
            min-height:50vh;
            .col {
                text-align: center;
            }
        }
        img {
            width:400px;
        }
    }

}