body.main-page {
    font-family: 'Raleway', sans-serif;
    .top-block {
        height: 85vh;
        background: url('../img/bg2.png') no-repeat center center fixed;
        background-size: auto auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        #vue-login {
            .valign-wrapper {
                min-height: 80vh;
            }
        }
    }
}